/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* start header section  */
.header-bg-color {
    background-color: #264653;
}

.honda-cbr {
    font-size: 48px;
    font-weight: 600;
}

.btn-bg {
    color: #fff;
    background-color: #E76F51;
}

.btn-bg:hover {
    color: #fff;
}

/* start fetured bike section */
.featured-bike {
    font-size: 48px;
    font-weight: 600;
}

.best-bike {
    color: #E77c40;
    font-size: 14px;
    font-weight: 600;
}

.grayscale {
    filter: grayscale(100%);
}

/* start happy clients section */
.happy-client {
    font-size: 48px;
    font-weight: 600;
}

.fas {
    color: #E77c40;
}

.far {
    color: #E77c40;
}

.client-name {
    color: #23A6F0;
    font-weight: 600;
}

.client-job {
    font-weight: 600;
}

/* start frequently section */
.frequently-ask {
    font-size: 48px;
    font-weight: 600;
}

.accordion-btn {
    font-size: 20px;
    font-weight: 600;
}